body {
  font-family: 'Lato', sans-serif;
}


.header__logo {
  height: 100px;
}


.header--font-color {
  color: #2d3c49;
}


.header__name {
  font-weight: 100;
  font-size: 40px;
}


.header__position {
  font-size: 15px;
}


.cover-img {
  overflow: hidden;
  max-height: 240px;
}


.cover-img--width {
  min-width: 100%;
}


.divider {
  height: 1px;
  background-color: #7d97ad;
}


.project__header {
  font-weight: 300;
  color: #7d97ad;
}


.project__image--content {
  max-width: 30vw;
  height: 15vw;
}


.project__image--container {
  background-size: cover;
  background-position: center center;
}


.appify {
  background-image: url(../img/sample/appify.jpg);
}

.sunflower {
  background-image: url(../img/sample/sunflower.jpg);
}


.bokeh {
  background-image: url(../img/sample/bokeh.jpg);
}


.project__title {
  font-weight: 500;
  color: #2d3c49;
}


.project__link {
  font-size: 10px;
  color: #2d3c49;
}


@media (min-width: 768px) {
  .header__name {
    font-size: 60px;
  }


  .header__position {
    font-size: 20px;
  }


  .divider {
    height: 3px;
  }


  .project__image--content {
    max-width: 100%;
  }
}
