* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


hr {
  height: 5px;
  background: #bcbbbb;
}


.content {
  flex: 1;
}


.wide-image {
  min-width: 100%;
}


.background-pic-container {
  overflow: hidden;
  max-height: 240px;
}


.background-pic {
  width: 100%;
}


.my-thumbnail {
  max-width: 100px;
}


.horizontal-bar {
  min-width: 10px;
}


.header--color {
  color: #2d3c49;
}


.name--font {
  font-weight: 100;
  font-size: 60px;
}


.position--font {
  font-size: 20px;
}


.content__title {
  font-weight: 300;
  color: #7d97ad;
}


.project__image {
  height: 200px;
}


.project__title {
  font-weight: 500;
  color: #2d3c49;
}


.protect__link {
  font-size: 10px;
  color: #2d3c49;
}
