body {
  font-family: 'Lato', sans-serif;
}


.header__logo--wrapper {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  width: 100%;
}


.header__logo--content {
  left: 0;
  right: 0;
  position: absolute;
  max-width: 100%;
  height: 100%;
}


.header--font-color {
  color: #2d3c49;
}


.header__name {
  font-weight: 100;
  font-size: 40px;
}


.header__position {
  font-size: 15px;
}


.cover-img--container {
  overflow: hidden;
}


.cover-img {
  display: inline;
  width: 100%;
  height: 30vmax;
  object-fit: none;
  object-position: 50% 60%;
}


.divider {
  height: 1px;
  background-color: #7d97ad;
}


.project__header {
  font-weight: 300;
  color: #7d97ad;
}


.project__image--container {
  overflow: hidden;
}


.project__image--content {
  max-width: 100%;
}


.project__title {
  font-weight: 500;
  color: #2d3c49;
  font-size: 1em;
}


.project__link {
  font-size: 0.75em;
  color: #2d3c49;
}


.project__description {
  font-weight: 300;
  color: #2d3c49;
  font-size: 1em;
}


@media screen and (min-width: 768px) {
  .header__name {
    font-size: 60px;
  }


  .header__position {
    font-size: 20px;
  }


  .divider {
    height: 3px;
  }


  .project__image--content {
    height: 15vw;
  }

}

